#list {
  list-style: none;
  margin: 0;
  padding: 0;
}

#list li {
  margin-bottom: 10px;
}

#add-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

#add-btn:hover {
  background-color: #3e8e41;
}
